@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700);

/*왼쪽 오른쪽 이동 */
.wrapper {
  width: 100%;
  margin: 0 auto;
}

li {
  list-style: none;
}

.moving-text-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.moving-text {
  position: absolute;
  font-size: 24px;
  white-space: nowrap;
}

.moving-text-1 {
  position: absolute;
  top: 50%;
  left: 100%;
  /* 초기에 화면 오른쪽 밖에 위치하도록 설정 */
  transform: translate(-50%, -50%);
  white-space: nowrap;
  /* 텍스트가 줄 바꿈되지 않도록 설정 */
  animation: moveText-1 10s linear infinite;
  /* 애니메이션 적용 */
}

.text-1 {
  top: 20%;
  left: 80%;
}

.text-3 {
  top: 10%;
  left: 80%;
}

.text-4 {
  top: 60%;
  left: 80%;
}

.text-5 {
  top: 70%;
  left: 80%;
}

@keyframes moveText-1 {
  0% {
    left: 100%;
    /* 초기 위치 설정 */
  }

  100% {
    left: -100%;
    /* 왼쪽 끝까지 이동 */
  }
}

/*스타일1*/
.style-1 {
  position: relative;
  top: 20px;
  display: inline-block;
  animation: bounce .3s ease infinite alternate;
  font-family: 'Titan One', cursive;
  font-size: 80px;
  color: #f7186a;
  text-shadow: 0 1px 0 #CCC,
    0 2px 0 #CCC,
    0 3px 0 #CCC,
    0 4px 0 #CCC,
    0 5px 0 #CCC,
    0 6px 0 transparent,
    0 7px 0 transparent,
    0 8px 0 transparent,
    0 9px 0 transparent,
    0 10px 10px rgba(0, 0, 0, .4);
}

.style-1:nth-child(2) {
  animation-delay: .1s;
}

.style-1:nth-child(3) {
  animation-delay: .2s;
}

.style-1:nth-child(4) {
  animation-delay: .3s;
}

.style-1:nth-child(5) {
  animation-delay: .4s;
}

.style-1:nth-child(6) {
  animation-delay: .5s;
}

.style-1:nth-child(7) {
  animation-delay: .6s;
}

.style-1:nth-child(8) {
  animation-delay: .7s;
}

.style-1:nth-child(9) {
  animation-delay: .8s;
}

.style-1:nth-child(10) {
  animation-delay: .9s;
}

.style-1:nth-child(11) {
  animation-delay: 1.0s;
}

@keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #CCC,
      0 2px 0 #CCC,
      0 3px 0 #CCC,
      0 4px 0 #CCC,
      0 5px 0 #CCC,
      0 6px 0 #CCC,
      0 7px 0 #CCC,
      0 8px 0 #CCC,
      0 9px 0 #CCC,
      0 50px 25px rgba(0, 0, 0, .2);
  }
}

.style-1:nth-child(2) {
  animation-delay: .05s;
}

.style-1:nth-child(3) {
  animation-delay: .1s;
}

.style-1:nth-child(4) {
  animation-delay: .15s;
}

.style-1:nth-child(5) {
  animation-delay: .2s;
}

.style-1:nth-child(6) {
  animation-delay: .25s;
}

.style-1:nth-child(7) {
  animation-delay: .3s;
}

.style-1:nth-child(8) {
  animation-delay: .35s;
}

.style-1:nth-child(9) {
  animation-delay: .4s;
}

.style-1:nth-child(10) {
  animation-delay: .45s;
}

.style-1:nth-child(11) {
  animation-delay: .5s;
}

.style-1:nth-child(12) {
  animation-delay: .55s;
}

.style-1:nth-child(13) {
  animation-delay: .6s;
}

.style-1:nth-child(14) {
  animation-delay: .65s;
}

/*스타일 2*/
.style-2 {
  position: relative;
  top: 20px;
  display: inline-block;
  animation: bounce .3s ease infinite alternate;
  font-family: 'Titan One', cursive;
  font-weight: 700;
  font-size: 80px;
  color: #ff9a44;
  text-shadow: 0 1px 0 #CCC,
    0 2px 0 #CCC,
    0 3px 0 #CCC,
    0 4px 0 #CCC,
    0 5px 0 #CCC,
    0 6px 0 transparent,
    0 7px 0 transparent,
    0 8px 0 transparent,
    0 9px 0 transparent,
    0 10px 10px rgba(0, 0, 0, .4);
}

.style-2:nth-child(2) {
  animation-delay: .1s;
}

.style-2:nth-child(3) {
  animation-delay: .2s;
}

.style-2:nth-child(4) {
  animation-delay: .3s;
}

.style-2:nth-child(5) {
  animation-delay: .4s;
}

.style-2:nth-child(6) {
  animation-delay: .5s;
}

.style-2:nth-child(7) {
  animation-delay: .6s;
}

.style-2:nth-child(8) {
  animation-delay: .7s;
}

.style-2:nth-child(9) {
  animation-delay: .8s;
}

.style-2:nth-child(10) {
  animation-delay: .9s;
}

.style-2:nth-child(11) {
  animation-delay: 1.0s;
}

.style-2:nth-child(12) {
  animation-delay: 1.1s;
}

.style-2:nth-child(13) {
  animation-delay: 1.2s;
}

.style-2:nth-child(14) {
  animation-delay: 1.3s;
}

.style-2:nth-child(15) {
  animation-delay: 1.4s;
}


@keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #CCC,
      0 2px 0 #CCC,
      0 3px 0 #CCC,
      0 4px 0 #CCC,
      0 5px 0 #CCC,
      0 6px 0 #CCC,
      0 7px 0 #CCC,
      0 8px 0 #CCC,
      0 9px 0 #CCC,
      0 50px 25px rgba(0, 0, 0, .2);
  }
}

/*스타일 3*/
.style-3 {
  margin: 1em auto;
  font-family: "Roboto";
}

.style-3 {
  font-size: 3em;
  color: #3cba92;
  background: #ffffff;
  font-family: 'Titan One', cursive;
  font-weight: 700;
  display: table-cell;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3), 0 5px 0 #329c7a;
  padding: 0 15px;
  line-height: 100px;
  animation: jumb 2s infinite;
}

@keyframes jumb {
  0% {
    transform: translateY(0px)
  }

  50% {
    transform: translateY(-30px);
    box-shadow: 0 15px 0 #329c7a;
  }

  100% {
    transform: translateY(0px)
  }
}

.style-3:nth-child(1) {
  animation-delay: 0s;
}

.style-3:nth-child(2) {
  animation-delay: .1s;
}

.style-3:nth-child(3) {
  animation-delay: .2s;
}

.style-3:nth-child(4) {
  animation-delay: .3s;
}

.style-3:nth-child(5) {
  animation-delay: .4s;
}

.style-3:nth-child(6) {
  animation-delay: .5s;
}

.style-3:nth-child(7) {
  animation-delay: .6s;
}

.style-3:nth-child(8) {
  animation-delay: .7s;
}

.style-3:nth-child(9) {
  animation-delay: .8s;
}

.style-3:nth-child(10) {
  animation-delay: .9s;
}

/*스타일4*/
@import url(https://fonts.googleapis.com/css?family=Signika:700,300,600);

.text-4 {
  font: bold 93px/7.6 'Signika', sans-serif;
  user-select: none;
}

.style-4 {
  display: inline-block;
  animation: float .2s ease-in-out infinite;
}

@keyframes float {

  0%,
  100% {
    transform: none;
  }

  33% {
    transform: translateY(-1px) rotate(-2deg);
  }

  66% {
    transform: translateY(1px) rotate(2deg);
  }
}

.style-4:nth-child(4n) {
  color: hsl(50, 75%, 55%);
  text-shadow: 1px 1px hsl(50, 75%, 45%), 2px 2px hsl(50, 45%, 45%), 3px 3px hsl(50, 45%, 45%), 4px 4px hsl(50, 75%, 45%);
}

.style-4:nth-child(4n-1) {
  color: hsl(135, 35%, 55%);
  text-shadow: 1px 1px hsl(135, 35%, 45%), 2px 2px hsl(135, 35%, 45%), 3px 3px hsl(135, 35%, 45%), 4px 4px hsl(135, 35%, 45%);
}

.style-4:nth-child(4n-2) {
  color: hsl(155, 35%, 60%);
  text-shadow: 1px 1px hsl(155, 25%, 50%), 2px 2px hsl(155, 25%, 50%), 3px 3px hsl(155, 25%, 50%), 4px 4px hsl(140, 25%, 50%);
}

.style-4:nth-child(4n-3) {
  color: hsl(30, 65%, 60%);
  text-shadow: 1px 1px hsl(30, 45%, 50%), 2px 2px hsl(30, 45%, 50%), 3px 3px hsl(30, 45%, 50%), 4px 4px hsl(30, 45%, 50%);
}

.style-4:nth-child(2) {
  animation-delay: .05s;
}

.style-4:nth-child(3) {
  animation-delay: .1s;
}

.style-4:nth-child(4) {
  animation-delay: .15s;
}

.style-4:nth-child(5) {
  animation-delay: .2s;
}

.style-4:nth-child(6) {
  animation-delay: .25s;
}

.style-4:nth-child(7) {
  animation-delay: .3s;
}

.style-4:nth-child(8) {
  animation-delay: .35s;
}

.style-4:nth-child(9) {
  animation-delay: .4s;
}

.style-4:nth-child(10) {
  animation-delay: .45s;
}

.style-4:nth-child(11) {
  animation-delay: .5s;
}

.style-4:nth-child(12) {
  animation-delay: .55s;
}

.style-4:nth-child(13) {
  animation-delay: .6s;
}

.style-4:nth-child(14) {
  animation-delay: .65s;
}


@media (max-width: 650px) {
  p {
    font-size: 3.5em;
  }
}